body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;
  background: url(img/animated-bg.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

.label {
  margin-bottom: 0px;
  color: #000;
  font-weight: 500;
}

input[type=text] {
border: 2px solid black;
border-radius: 4px;
}

input[type=password] {
border: 2px solid black;
border-radius: 4px;
}

input[type=password]:focus {
border: 3px solid #228295;
}


.btn-primary {
  background-color: #00A8CB;
  border: 1px solid #228295;
}

.btn-primary:hover {
  background-color: #228295;
  border: 1px solid #228295;
}

input[type=text]:focus {
border: 3px solid #228295;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: 1rem;
}

.control-label {
  margin-bottom: 0px;
  color: #000;
  font-weight: 500
}

.custom-select {
  border: 2px solid black;
}

.custom-select:focus {
  border: 3px solid #228295;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn1 {
  border: none;
  outline: none;
  height: 40px;
  width: 40%;
  background-color: #00A8CB;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 50px;
}

.btn1:hover {
  background-color: #228295;
}

.view-account{
background:#FFFFFF;
margin-top:20px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
border-radius: 10px;
}


.view-account .side-bar {
padding-bottom: 30px;
}

.view-account .side-bar .user-info {
text-align: center;
margin-bottom: 15px;
padding: 30px;
color: #616670;
border-bottom: 1px solid #f3f3f3
}

.view-account .side-bar .user-info .img-profile {
width: 150px;
height: 150px;
margin-bottom: 15px
}

.view-account .side-bar .user-info .meta li {
margin-bottom: 10px
}

.view-account .side-bar .user-info .meta li span {
display: inline-block;
width: 100px;
margin-right: 5px;
text-align: right
}

.view-account .side-bar .user-info .meta li a {
color: #616670
}

.view-account .side-bar .user-info .meta li.activity {
color: #a2a6af
}

.view-account .side-bar .side-menu {
text-align: center
}

.view-account .side-bar .side-menu .nav {
display: inline-block;
margin: 0 auto
}

.view-account .side-bar .side-menu .nav>li {
font-size: 14px;
margin-bottom: 0;
border-bottom: none;
display: inline-block;
float: left;
margin-right: 15px;
margin-bottom: 15px
}

.view-account .side-bar .side-menu .nav>li:last-child {
margin-right: 0
}

.view-account .side-bar .side-menu .nav>li>a {
display: inline-block;
color: #9499a3;
padding: 5px;
border-bottom: 2px solid transparent
}

.view-account .side-bar .side-menu .nav>li>a:hover {
color: #616670;
background: none
}

.view-account .side-bar .side-menu .nav>li.active a {
color: #40babd;
border-bottom: 2px solid #40babd;
background: none;
border-right: none
}

.theme-2 .view-account .side-bar .side-menu .nav>li.active a {
color: #6dbd63;
border-bottom-color: #6dbd63
}

.theme-3 .view-account .side-bar .side-menu .nav>li.active a {
color: #497cb1;
border-bottom-color: #497cb1
}

.theme-4 .view-account .side-bar .side-menu .nav>li.active a {
color: #ec6952;
border-bottom-color: #ec6952
}

.view-account .side-bar .side-menu .nav>li .icon {
display: block;
font-size: 24px;
margin-bottom: 5px
}

.view-account .content-panel {
  padding: 30px;
}

.container {
  opacity: .90;
}

.view-account .content-panel .title {
margin-bottom: 15px;
margin-top: 0;
font-size: 250%;
font-weight: bold;
color: #00A8CB;
}

.view-account .content-panel .fieldset-title {
padding-bottom: 10px;
border-bottom: 1px solid #eaeaf1;
margin-bottom: 10px;
color: #616670;
font-size: 16px
}

.view-account .content-panel .avatar .figure img {
float: right;
width: 64px
}

.view-account .content-panel .content-header-wrapper {
position: relative;
margin-bottom: 30px
}

.view-account .content-panel .content-header-wrapper .actions {
position: absolute;
right: 0;
top: 0
}

.view-account .content-panel .content-utilities {
position: relative;
margin-bottom: 30px
}

.view-account .content-panel .content-utilities .btn-group {
margin-right: 5px;
margin-bottom: 15px
}

.view-account .content-panel .content-utilities .fa {
font-size: 16px;
margin-right: 0
}

.view-account .content-panel .content-utilities .page-nav {
position: absolute;
right: 0;
top: 0
}

.view-account .content-panel .content-utilities .page-nav .btn-group {
margin-bottom: 0
}

.view-account .content-panel .content-utilities .page-nav .indicator {
color: #a2a6af;
margin-right: 5px;
display: inline-block
}

@media (max-width:767px) {
.view-account .content-panel .title {
  text-align: center
}
.view-account .side-bar .user-info {
  padding: 0
}

.view-account .side-bar .user-info .meta li {
  margin-bottom: 5px
}
.view-account .content-panel .content-header-wrapper .actions {
  position: static;
  margin-bottom: 30px
}
.view-account .content-panel {
  padding: 0
}
.view-account .content-panel .content-utilities .page-nav {
  position: static;
  margin-bottom: 15px
}

.view-account .content-panel .avatar .figure img {
  float: none;
  margin-bottom: 15px
}

.view-account .side-bar .side-menu .nav>li {
  display: block;
  float: none;
  font-size: 12px;
  border-bottom: 1px solid #f3f3f7;
  margin-right: 0;
  margin-bottom: 0
}

.view-account .side-bar .user-info .img-profile {
  width: 150px;
  height: 120px;
  margin-top: 1rem;
}

}

@media (min-width:768px) {
.view-account .side-bar .user-info {
  padding: 0;
  padding-bottom: 15px
}

.view-account .side-bar .user-info .img-profile {
  width: 150px;
  height: 120px;
  margin-top: 1rem;
}

}

@media (max-width: 576px) {

  .view-account .side-bar .user-info .img-profile {
    width: 120px;
    height: 100px;
    margin-top: 1rem;
  }

  .content-panel h2{
    font-size: 10%;
  }

  .view-account .content-panel .fieldset-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaf1;
  margin-bottom: 30px;
  color: #616670;
  font-size: 14px;
  text-align: center;
  }

}

@media (min-width:992px) {
.view-account .content-panel {
  min-height: 600px;
  border-left: 1px solid #f3f3f7;
  margin-left: 200px
}

.view-account .side-bar {
  position: absolute;
  width: 200px;
  min-height: 600px
}
.view-account .side-bar .user-info {
  margin-bottom: 0;
  border-bottom: none;
  padding: 30px
}
.view-account .side-bar .user-info .img-profile {
  width: 150px;
  height: 120px
}
.view-account .side-bar .side-menu {
  text-align: left
}
.view-account .side-bar .side-menu .nav {
  display: block
}
.view-account .side-bar .side-menu .nav>li {
  display: block;
  float: none;
  font-size: 14px;
  border-bottom: 1px solid #f3f3f7;
  margin-right: 0;
  margin-bottom: 0
}
.view-account .side-bar .side-menu .nav>li>a {
  display: block;
  color: #9499a3;
  padding: 10px 15px;
  padding-left: 30px
}
.view-account .side-bar .side-menu .nav>li>a:hover {
  background: #f9f9fb
}
.view-account .side-bar .side-menu .nav>li.active a {
  background: #f9f9fb;
  border-right: 4px solid #40babd;
  border-bottom: none
}
.theme-2 .view-account .side-bar .side-menu .nav>li.active a {
  border-right-color: #6dbd63
}
.theme-3 .view-account .side-bar .side-menu .nav>li.active a {
  border-right-color: #497cb1
}
.theme-4 .view-account .side-bar .side-menu .nav>li.active a {
  border-right-color: #ec6952
}
.view-account .side-bar .side-menu .nav>li .icon {
  font-size: 24px;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  display: inline-block
}
}
